.header{
    align-items: center;
    display: flex;
    
    justify-content: space-between;
    --padding-width: 5vw;
    width: calc(100vw - var(--padding-width)*2);
    height: 8vh;

    padding-right: var(--padding-width);
    padding-left: var(--padding-width);
    margin-top: 3vh;

}
  