
.InputField{
    align-items: center;
    margin-top: 4.7vh;
    height:5.8vh;
    --margin-width: 10vw;
    margin-left: var(--margin-width);
    margin-right: var(--margin-width);
    width: calc(100vw - var(--margin-width));

    background-color: rgb(239, 239, 239);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    display: flex;
}

.InputText{
    font-weight: 650;
    font-family: system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh;
    margin:2vh;
    color: grey;
}